*.bkp
*.info
*.gcov
*.gcna
*.gcno
*.gcda
*.swp
*.log
*.dat
*.vt[ksu]
*.pvt[ksu]
.*_license
unix/*
unix-opt/*
unix-gcov/*
package-*/*
arch-*/*
installed-arch-*/*
batch-test
c_test
RDict.db
RDict.log
TAGS*
lib/slepc/conf/slepcvariables
configure.log*
externalpackages/*
make_log_*
test_log_*
src/python/*
*.o
*.pyc
*~
*.orig
#*#
ex[0-9]
ex[0-9]f
ex[0-9][0-9]
ex[0-9][0-9]f
*.m.html
index.html
*.dSYM
*.mexmaci*
valgrind*
callgrind.out.*
.DS_Store
session_*
*.xc*
*.vim
CTAGS
ETAGS
GPATH
GRTAGS
GSYMS
GTAGS
CMakeLists.txt
pkg.gitcommit
**/f90module*.f90
doc/.venv-sphinx
doc/logo-upv
doc/source/_static
doc/source/manualpages/BV/
doc/source/manualpages/DS/
doc/source/manualpages/FN/
doc/source/manualpages/RG/
doc/source/manualpages/ST/
doc/source/manualpages/EPS/
doc/source/manualpages/PEP/
doc/source/manualpages/NEP/
doc/source/manualpages/SVD/
doc/source/manualpages/MFN/
doc/source/manualpages/LME/
doc/source/manualpages/Sys/
doc/source/manualpages/htmlmap
doc/source/manualpages/manualpages.cit
doc/source/manualpages/singleindex.md
doc/source/__pycache__/
petsc_objects.inv
slepc_objects.inv
src/binding/slepc4py/docs/source/demo/
src/binding/slepc4py/docs/source/reference/
